.tabOverlay{
	background-color:#222222;
	height:377px;
	left:39px;
	position:absolute;
	top:574px;
	width:938px;
	filter:alpha(opacity=80);
	-khtml-opacity:0.8;
	-moz-opacity:0.8;
	opacity:0.8;
	text-shadow:0 0 0 #000;
	z-index: 1000;
}	

.apexp{
	width: 100%;
}