.objectIcon{
	height:24px;
	width:24px;
}		
.objects, .myTable{
	border-collapse:collapse;
	font-family:Arial,helvetica;
	font-size:12px;
}
.myTable .objectHeaders td{
	border-bottom:2px solid #CCCCCC;
	font-weight:bold;
	padding: 5px;
}
.header td{
	background-color:#EEECD1;
	border-bottom: 1px solid #FFFFFF;
	font-family:Arial,Helvetica;
	font-size:12px;
	font-weight:bold;
	padding:2px;
}
.dataRow td{
	padding: 4px 2px 4px 5px;
	border-bottom: 1px solid #E3DEB8;
}
.pagSize a{
	color: #3173D7;
	font-weight: bold;
	display: none;
}
select{
	z-index: 1;
}
.paginator .pageControls li{
	display:inline;
	margin: 0;
	padding: 0;
}

.paginator .pageControls .myPrev{
	padding: 0 5px 0 15px;
	cursor: pointer;
}
.paginator .pageControls .myNext{
	padding: 0 15px 0 5px;
	cursor: pointer;
}
.paginator .pageControls .myPrevDis{
	padding: 0 5px 0 15px;
	color:#ADADAD;
	font-weight:bold;
	text-decoration: none;
}
.paginator .pageControls .myNextDis{
	padding: 0 15px 0 5px;
	color:#ADADAD;
	font-weight:bold;
	text-decoration: none;
}
.paginator input {
	width: 15px;
	text-align: center;
}
.objects .title{
	padding-top: 5px;
}
.objects .newObject{
	text-align:left; 
	padding-top: 5px;
}
.objects .noRecords{
	padding-left: 30px; 
	padding-top: 8px; 
	padding-bottom: 8px;
	font-weight: normal;
}	
.searchBtn {
	z-index: 10 !important;
}
.searchBox{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #A7A6AA;
	height:21px;
	width:150px;
	z-index: 900 !important;
	margin: 0;
	position: relative;
}	
.searchBox input{
	border: none;
	width:125px;
	position: relative;
	left: 0px;
	top: 1px;
	border: 1px solid #FFFFFF;
} 
.searchBox img{
	height:20px;
	width:25px;
	position: absolute;
	left: 125px;
}
.fieldSelect{
	border:1px solid #A7A6AA;
	//border: none;
	margin:0;
	position:relative;
	height:21px;
	background: #FFFFFF;
}
.fieldSelect select{
	border: 1px solid #FFFFFF;
	//border:1px solid #A7A6AA;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.fieldSelect{
		border: none;
	}
}
a.sortedField{
	color:#0000FF !important;
}
a.noSortedField{
	color:#4579A3 !important;
}
		
.objectIcon{
	height:24px;
	width:24px;
}		

.actionColumn{
	font-weight: bold; 
}
a.sortedField{
	padding-right:10px;
}
a.noSortedField{
	background: none !important;
}
.objectHeaders{
	border-bottom:2px solid #CCCCCC !important;
	font-weight:bold !important;
	padding:5px !important;
}