		#quoteStyle .objects{
			border-top: 4px solid #006699;
			border-right: 2px solid #006699;
			border-bottom: 2px solid #006699;
		}
		#quoteStyle .pagSize{
			text-align: right; 
			padding: 2px; 
			color: #006699;
			font-weight:bold;
		}
		#quoteStyle .paginator{
			border-bottom: 1px solid #006699;
			border-top: 1px solid #006699;
			text-align:center;
		}
		#quoteStyle .paginator a{
			color:#006699 !important;
			font-weight:bold;
		}
		#quoteStyle .jumpToPage{
			position:absolute;
			right:10px;
			top:8px;
			color: #006699;
			font-weight:bold;
		}
		#quoteStyle .counter{
			position:absolute;
			left:0px;
			top: 12px;
			color:#006699;
			font-weight:bold;
		}		