#accountStyle .objects{
	border-top: 4px solid #236FBD;
	border-right: 2px solid #236FBD;
	border-bottom: 2px solid #236FBD;
}
#accountStyle .pagSize{
	text-align: right; 
	padding: 2px; 
	color: #236FBD;
	font-weight:bold;
}
#accountStyle .paginator{
	border-bottom: 1px solid #236FBD;
	border-top: 1px solid #236FBD;
	text-align:center;
}
#accountStyle .paginator a{
	color:#236FBD !important;
	font-weight:bold;
}
#accountStyle .jumpToPage{
	position:absolute;
	right:10px;
	top:8px;
	color: #236FBD;
	font-weight:bold;
}
#accountStyle .counter{
	position:absolute;
	left:0px;
	top: 12px;
	color:#236FBD;
	font-weight:bold;
}