		#opptyStyle .objects{
			border-top: 4px solid #E5C130;
			border-right: 2px solid #E5C130;
			border-bottom: 2px solid #E5C130;
		}
		#opptyStyle .pagSize{
			text-align: right; 
			padding: 2px; 
			color: #E5C130;
			font-weight:bold;
		}
		#opptyStyle .paginator{
			border-bottom: 1px solid #E5C130;
			border-top: 1px solid #E5C130;
			text-align:center;
		}
		#opptyStyle .paginator a{
			color:#E5C130 !important;
			font-weight:bold;
		}
		#opptyStyle .jumpToPage{
			position:absolute;
			right:10px;
			top:8px;
			color: #E5C130;
			font-weight:bold;
		}
		#opptyStyle .counter{
			position:absolute;
			left:0px;
			top: 12px;
			color:#E5C130;
			font-weight:bold;
		}	
