		
		#orderStyle .objects{
			border-top: 4px solid #00655A;
			border-right: 2px solid #00655A;
			border-bottom: 2px solid #00655A;
		}
		#orderStyle .pagSize{
			text-align: right; 
			padding: 2px; 
			color: #00655A;
			font-weight:bold;
		}
		#orderStyle .paginator{
			border-bottom: 1px solid #00655A;
			border-top: 1px solid #00655A;
			text-align:center;
		}
		#orderStyle .paginator a{
			color:#00655A !important;
			font-weight:bold;
		}
		#orderStyle .jumpToPage{
			position:absolute;
			right:10px;
			top:8px;
			color: #00655A;
			font-weight:bold;
		}
		#orderStyle .counter{
			position:absolute;
			left:0px;
			top: 12px;
			color:#00655A;
			font-weight:bold;
		}	
