		#transactionStyle .objects{
			border-top: 4px solid #999966;
			border-right: 2px solid #999966;
			border-bottom: 2px solid #999966;
		}
		#transactionStyle .pagSize{
			text-align: right; 
			padding: 2px; 
			color: #999966;
			font-weight:bold;
		}
		#transactionStyle .paginator{
			border-bottom: 1px solid #999966;
			border-top: 1px solid #999966;
			text-align:center;
		}
		#transactionStyle .paginator a{
			color:#999966 !important;
			font-weight:bold;
		}
		#transactionStyle .jumpToPage{
			position:absolute;
			right:10px;
			top:8px;
			color: #999966;
			font-weight:bold;
		}
		#transactionStyle .counter{
			position:absolute;
			left:0px;
			top: 12px;
			color:#999966;
			font-weight:bold;
		}	
