.THIS .spinnerHolder {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS .action .slds-dropdown :nth-child(2):before {    
    content: "Design Win";
    font-weight: bold;
    border-top: 1px solid #dddbda;
    padding-top: .5rem;
    display: block;
}

.THIS .action .slds-dropdown :nth-child(3):before {    
    content: "Compliance Risk";
    font-weight: bold;
    border-top: 1px solid #dddbda;
    padding-top: .5rem;
    display: block;
}