<style>
body {
    background-color: white !important;
}
 action,a.action:hover,#cs\3A searchAskContainer,.answer_input input,.notice,.csfeedcontainer .singlefeeditemheader .thisupdatespan,.publishercontainer div.publishertextareaerror,.csfeedcontainer div.feeditemcommentnew div.newcommenttextareaerror,.publishercontainer .publishererrorcontainer,.csfeedcontainer .newcommenterrorcontainer,.csfeedcontainer .feeditemcommentplaceholder input,.csfeedcontainer .feeditemcommentnew .foobar,.publishercontainer .publishertextarea,.sub_action,.filter .current,.filter a,.signin,#cs\3A searchAskInputContainer,#cs\3A searchAskForm,.waitingHolder,.csAlert,.csInfo,.prompt,#cs\3A searchAskContainer .current,.sectionHeader,.popUpContent{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px
}

.sub_action{
    display:block;
    padding:5px 10px;
    background:#1798bc;
    font-size:1em;
    text-align:left;
    color:#fff
}
.action,a.action:hover{
    border:2px solid #fff;
    padding:5px 12px 6px;
    background:#1796bf url("/img/chatterservice/btnlrg_sprite.png") 0 -740px repeat-x;
    text-align:center;
    letter-spacing:.2px;
    font-weight:700;
    color:#fff;
    -webkit-box-shadow:0 2px 4px #aaa;
    -moz-box-shadow:0 2px 4px #aaa;
    box-shadow:0 2px 4px #aaa
}

a.action:hover{
    background:#1796bf;
    text-decoration:none
}

.button,.btn,.breadCrumbs span{
    width:auto;
    border:1px solid #b5b5b5;
    border-bottom-color:#7f7f7f;
    background:#fff url("/img/chatterservice/btn_lrg_sprite_x.gif") repeat-x;
    color:#222;
    font-size:.917em;
    font-weight:700;
    text-align:center;
    cursor:pointer
}

a.button:hover,a.btn:hover,.breadCrumbs a:hover span{
    background-position:0 -60px;
    text-decoration:none;
    color:#222
}

.button.disabled,.csfeedcontainer .btn.btnDisabled{
    border-color:#dadada #dadada #b5b5b5;
    background:#fefefe;
    color:#9c9c9c;
    cursor:default
}

.button,.btn{
    padding:5px 9px;
    font:1em Arial,Helvetica,Verdana,sans-serif
}

input.button,input.btn,button.button,button.btn{
    padding:5px 7px
}

input.button::-moz-focus-inner,input.btn::-moz-focus-inner{
    border:0
}

input.button:focus,input.btn:focus{
    border-color:#7f7f7f
}

.threecolumn{
    width:1024px;
    margin:0 auto 50px;
}

.threecolumn .centerContent,.threecolumn .leftContent{
    padding:20px 0
}

.threecolumn .headerContent .pageTitle{
    font-size:1.8em;
    color:#222
}

.threecolumn .headerContent{
    margin-bottom:12px;
    position:relative
}

.threecolumn .leftContent{
    float:left;
    padding-right:20px;
    width:207px;
    overflow:visible
}

.threecolumn .mainContent{
    margin-left:226px;
    width:795px
}

.threecolumn .mainContent .lowerMainContent{
    width:795px;
    position:relative
}

.threecolumn .centerContent{
    float:left;
    width:520px
}

.threecolumn .centerContent{
    padding-left:20px
}

.threecolumn .rightContent{
    float:right;
    position:relative;
    width:214px;
    padding-right:20px;
    overflow:visible;
    z-index:501
}
.signin ul li.last {
    border: none;
    background: transparent;
    box-shadow: 0 0;
}

.csoptimizequestion .leftContent li.selected a,.csoptimizequestion #cs\3A profile li.selected a
    {
    background: rgba(0, 0, 0, 0);
}

.leftContent .feedcriterialinks li.selected a,#cs\3A profile li.selected a
    {
    background: transparent;
}

.leftContent li.selected a {
    background: transparent;
}

.leftContent li,.rightContent li {
    /* IE10 Consumer Preview 05/11/2013 */
    /* Mozilla Firefox */
    /* Opera */
    /* Webkit (Safari/Chrome 10) */
    /* Webkit (Chrome 11+) */
    /* W3C Markup, IE10 Release Preview */
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px #808080;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #859199 250%);
}

.feedcriterialinks ul {
    margin-right: 0px;
    width: 195px;
    padding: 10px 0 1px 6px;
}

.threecolumn .leftContent {
    float: left;
    width: 207px;
    overflow: visible;
    padding-left: 10px;
}

.threecolumn .rightContent {
    float: right;
    width: 207px;
    overflow: visible;
    padding-right: 10px;
}

.datacategorylinks ul {
    list-style-type: circle;
}

.datacategorylinks li {
    background: transparent;
    box-shadow: 0 0 0;
    margin-bottom: 0px;
}

.datacategorylinks h3 {
    padding: 10px;
}

.datacategorylinks .csChildOption a {
    color: white;
}

a {
    color: black;
}

.custompicklist_gradient { /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 70%, #859199 250%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 70%, #859199 250%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 70%, #859199 250%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF),
        color-stop(1, #859199) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 70%, #859199 250%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 70%, #859199 250%);
}

.whitebackground { /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF),
        color-stop(1, #859199) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #859199 250%);
}

.greybackground { /* IE10 Consumer Preview */
    /* background-image: -ms-linear-gradient(top, #BFBFBF 0%, #1F2224 250%); */
    filter: progid :     DXImageTransform.Microsoft.gradient (    
        startColorstr =  
          '#cccccc', endColorstr =     '#000000' ); /* for IE */
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #BFBFBF -170%, #1F2224 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #BFBFBF -170%, #1F2224 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BFBFBF),
        color-stop(1, #1F2224) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #BFBFBF -170%, #1F2224 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #BFBFBF -170%, #1F2224 100%);
}

.datacategorylinks {
    background-color: #585858;
    padding-bottom: 1px;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #BFBFBF 0%, #1F2224 150%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #BFBFBF 0%, #1F2224 150%);
    /* Opera */
    background-image: -o-linear-gradient(top, #BFBFBF 0%, #1F2224 150%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BFBFBF),
        color-stop(1, #1F2224) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #BFBFBF 0%, #1F2224 150%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #BFBFBF 0%, #1F2224 150%);
}

.signin {
    margin: 6px;
    font-size: medium;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF),
        color-stop(1, #859199) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #859199 250%);
    clear: both;
}

.footer_gradient { /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #859199 250%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #859199 250%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #859199 250%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF),
        color-stop(2, #859199) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #859199 250%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #FFFFFF 0%, #859199 250%);
     background: url("https://nxpcommunity.force.com/community/resource/1392098025000/NXPFooterBackground");
         background-repeat:repeat-x;
}
}

.leftContent {
    
}

.centerContent {
    
}

.cxdatacategory cxAll cxtoplevel {
    color: white;
}

.threecolumn {
    position: relative;
    margin: 0px;
    background: white;
}

#header-wrapper .header .logo {
    float: left;
}

#header-wrapper .header .logo a {
    background:
        url("https://nxpcommunity.force.com/community/resource/1366696275000/NXPLogo")
        no-repeat 0 0 #FFFFFF;
    height: 32px;
    width: 85px;
	border:none;
	
}

.left {
    float: left;
}

.disp_inline {
    display: inline;
    padding-right: 12px;
    margin-left: 10px;
}

.border {
    border-right: 1px solid black;
}

#navbar-wrapper ul.nav li.first {
    border-left: 0;
}

#navbar-wrapper ul.nav li.last {
    border-right: 0px;
}

#navbar-wrapper ul.nav.border-radius li.first.active,#navbar-wrapper ul.nav.border-radius li.first:hover
    {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px; /* for webkit browsers */
    -moz-border-radius: 3px 0 0 3px; /* for firefox */
}

#navbar-wrapper ul.nav.border-radius li.last.active,#navbar-wrapper ul.nav.border-radius li.last:hover
    {
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0; /* for webkit browsers */
    -moz-border-radius: 0 3px 3px 0; /* for firefox */
}

.bodyDiv {
    background-color: transparent;
}

#footer {
    clear: both;
    float: left;
    margin: 16px 0 0;
    min-height: 10px;
    overflow: hidden;
    width: 100%;
    top: expression((     0 -(     footer.offsetHeight) +(  
          document.documentElement.clientHeight ?    
          document.documentElement.clientHeight :     
         document.body.clientHeight ) +(     ignoreMe =     
         document.documentElement.scrollTop ?    
          document.documentElement.scrollTop :       document.body.scrollTop )
        ) +  
          'px' );
}

.sub_img_pos img {
    position: relative;
    top: 5px;
    padding-right: 5px;
}

.box_component li {
    padding: 1px 0 3px 0;
    color: #969200;
}

.leaderboardStyle { /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF),
        color-stop(1, #859199) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #859199 250%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #859199 250%);
    box-shadow: inset 0 0 4px #c4c4c4;
    border-radius: 5px;
    padding: 10px;
}

.borderTop {
    border-top: 1px dotted gray;
}

.feedtypelinks.togglePill {
    width: 131px;
    !
    important
}

.feedtypelinks.togglePill li.feedtypeoption {
    float: right;
    !
    important;
}
</style>