/* root element for tabs  */
.tabs {
    height: 37px;
    margin: 0 0 -4px 12px;
    padding: 0;
    position: relative;
}

/* single tab */
.tabs li {
    float: left;
}

/* Tab background */
ul.tabs li .tab-left {
    background: url(../img/tabs.gif) 0 0 no-repeat;
    float: left;
    padding-left: 8px;
}

ul.tabs li {
    visibility: hidden;
}

ul.tabs li .tab-right {
    background: url(../img/tabs.gif) right 0 no-repeat;
    float: left;
    height: 27px;
    padding-left: 2px;
    padding-right: 12px;
    padding-top: 10px;
}

ul.tabs li a.current .tab-left {
    background-position: left -74px;
}

ul.tabs li a.current .tab-right {
    background-position: right -74px;
}

/* link inside the tab. uses a background image */
.tabs a {
    border: none;
    font-weight: 700;
    text-decoration: none;
}

.tabs a: active {
    outline: none;
}

.tabs a: hover {
    border: 0;
    color: #4b8302;
    text-decoration: none;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.tabs .current,.tabs .current: hover {
    text-decoration: none;
}

.tabs .current {
    font-weight: 700;
}

/* Tabs container */
.tabs-container.tabsMargin {
    float: left;
    width: 100%;
}

/* Tab container */
.tab-container {
    width: 100%;
}

.tabs-container {
    margin-top: 14px;
}

/* Small tabs container */
.tabs-container.small {
    width: 350px;
}

/* tab box top */
.tab-container .top-left {
    background: url(../img/tab-horz.png) no-repeat left 0 #fff;
    padding-left: 14px;
}

.tab-container .top-middle {
    background: url(../img/tab-horz.png) repeat-x left -48px;
    height: 12px;
}

.tab-container .top-right {
    background: url(../img/tab-horz.png) no-repeat right -12px #fff;
    padding-right: 14px;
}

/* tab box middle */
.tab-container .middle-left {
    background: url(../img/tab-vert.png) repeat-y left 0 #fff;
}

.tab-container .middle {
    background-color: #fff;
    margin-right: 12px;
    min-height: 250px;
    padding: 0 0 0 4px;
}

.tab-container .middle-right {
    background: url(../img/tab-vert.png) repeat-y right 0 #fff;
    margin-left: 8px;
}

/* tab box bottom */
.tab-container .bottom-left {
    background: url(../img/tab-horz.png) no-repeat left -24px #fff;
    padding-left: 14px;
}

.tab-container .bottom-middle {
    background: url(../img/tab-horz.png) repeat-x left -60px;
    height: 12px;
}

.tab-container .bottom-right {
    background: url(../img/tab-horz.png) no-repeat right -36px #fff;
    padding-right: 14px;
}

/* Clear content */
.tab-container .middle.panes {
    clear: left;
}